.hero__img {
  margin-top: 46px;
  width: 100%;
}
@media (min-width: 768px) {
  .hero__img {
    position: absolute;
    z-index: -1;
    bottom: 6%;
    left: 52%;
    width: 640px;
  }
}
@media (min-width: 768px) {
  .hero__img {
    width: 936px;
  }
}
@media (min-width: 1024px) {
  .hero__img {
    width: 960px;
    left: 44%;
  }
}
@media (min-width: 1440px) {
  .hero__img {
    width: 991px;
    bottom: 0;
    left: 58%;
  }
}
