.main {
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
  padding: 0 16px 80px;
}
@media (min-width: 440px) {
  .main {
    padding: 8% 12%;
  }
}
@media (min-width: 768px) {
  .main {
    padding: 0 39px 86px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media (min-width: 1024px) {
  .main {
    padding: 0 8%;
  }
}
@media (min-width: 1440px) {
  .main {
    padding: 0 165px;
  }
}
