.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 38px;
  padding: 16px 16px 0;
}

@media (min-width: 440px) {
  .header {
    padding: 8% 12%;
  }
}
@media (min-width: 768px) {
  .header {
    padding: 31px 39px;
    margin-bottom: 99px;
  }
}
@media (min-width: 1440px) {
  .header {
    padding: 39px 165px;
    margin-bottom: 46px;
  }
}
