.footer {
  background: #13183f;
  padding: 36px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 440px) {
  .footer {
    padding: 8% 12%;
  }
}
@media (min-width: 768px) {
  .footer {
    padding: 36px 40px;
  }
}
@media (min-width: 1024px) {
  .footer {
    padding: 36px 8%;
  }
}
@media (min-width: 1440px) {
  .footer {
    padding: 32px 165px;
  }
}
